@font-face {
    font-family: "play";
    src: url("fonts/play/Play-Regular.ttf");
}

@font-face {
    font-family: "playBold";
    src: url("fonts/play/Play-Bold.ttf");
}

body {
    background-color: #34495E;
    font-family: "play";
    color: #E5E7E9;
}

#btn {
    text-align: right;
}

#footer {
    align-self: baseline;
    font-size: small;
    text-align: right;
}

input, button {
    font-family: "playBold";
}

.container {
    text-align: center;
}

.hidden {
    display: none;
}